<p id="notice"><%= notice %></p>

<p>
  <strong>Sub address:</strong>
  <%= @address.sub_address %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @address.street_number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= Postcode.hash[@address.postcode_id].code %>
</p>

<p>
  <strong>State:</strong>
  <%= State.hash[@address.state_id].name %>
</p>

<p>
  <strong>Country:</strong>
  <%= Country.hash[@address.country_id].name %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
