<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Address:</strong>
  <% addr = Address.hash[@warehouse.address_id] %>
  <%= "#{addr.street_number} #{addr.street} #{addr.city}" %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
