<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= "#{Address.hash[@warehouse.address_id].street_number} " +
                "#{Address.hash[@warehouse.address_id].street} " +
                "#{Address.hash[@warehouse.address_id].city}" %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
